// Mobile (up to 447px) ---------------------------------
// ------------------------------------------------------
.region-content-top {
  ul.tabs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    background: $gray-f1;
    border-radius: $rad;
    padding: .125em;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.15);

    >li {
      display: block;
      margin: .125em;

      a {
        padding: .35em .75em;
        border-radius: $rad-inner;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: 10px;
        color: $gray-6;

        &:hover,
        &:active,
        &:focus {
          background: rgba(255, 255, 255, 1);
          color: $teal;
          box-shadow: 0 1px 2px rgba(0,0,0,.5);
          color: $gray-3;
        }

        &.is-active {
          background: $white;
          color: $teal;
          
        }
      }
    }
  }
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {}
