// Mobile (up to 447px) ---------------------------------
// ------------------------------------------------------
.region-content {
  font-size: .875rem;

  .page-title {
    margin-top: 0;
  }
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .region-content {
    font-size: .9375rem;
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  .region-content {
    font-size: 1rem;
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
  .region-content {
    font-size: 1.125rem;
  }
}
