// Mobile (up to 447px) ---------------------------------
// ------------------------------------------------------
.view-posts.view-display-id-block_1 {
  .views-row {
    &:last-child {
      .home-post-item {
        margin-bottom: 0;
      }
    }
  }
}

.home-post-item {
  background: $white;
  box-shadow: 0 0 100px rgba(0, 0, 0, .1);
  margin-bottom: 1.5rem;
  transition: all .25s ease-out;

  &:hover {
    transform: scale(1.01);
    transition: all .5s ease-out;
    box-shadow: 0 0 100px rgba(0, 0, 0, .25);
  }

  &--image {
    img {
      display: block;
    }
  }

  &--caption {
    padding: 1.5em;
  }

  &--title {
    margin: 0;

    a {
      color: $orange;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        color: lighten($orange, 10%);
      }
    }
  }

  &--date {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .1em;
    color: $gray-9;
    margin: 1em 0;
  }

  &--body {
    color: $gray-3;
  }

  &--link {
    a {
      margin-top: 1em;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: .1em;
      background: $teal;
      border-radius: 15px;
      height: 30px;
      display: block;
      line-height: 30px;
      padding: 0 2em;
      text-align: center;
      color: #fff;
      font-weight: 400;
      transition: all .5s ease-out;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        transition: all .5s ease-out;
        background: lighten($teal, 10%);
      }
    }
  }
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .home-post-item {
    &--link {
      a {
        display: inline-block;
      }
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {}
