// Mobile (up to 447px) ---------------------------------
// ------------------------------------------------------
html {
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-main;
  color: $gray-3;
  background: $gray-f1;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  background: $gray-f1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $teal;

  &:hover,
  &:focus,
  &:active {
    color: lighten($teal, 10%);
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: 400;
  line-height: 1.2;
  margin: 2rem 0 .25rem;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.375em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.125em;
}

p {
  margin: 0 0 1rem;
}

ul {
  padding-inline-start: 1.25rem;
  margin: 0 0 1rem;
}

ol {
  padding-inline-start: 1.25rem;
  margin: 0 0 1rem;
}

table {
  border: 1px solid $gray-e6;
  margin-bottom: 1rem;

  caption {
    font-weight: 400;
    font-family: $font-header;
    font-size: 1.25em;
    margin-bottom: .25em;
  }

  thead {
    text-align: left;
    border-bottom: 1px solid $gray-e6;
    background: $gray-f1;

    tr {
      th {
        padding: .5em .75em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: .875em;
        border-right: 1px solid $gray-e6;

        &:last-child {
          border: 0;
        }
      }

      td {
        padding: .5em .75em;
      }
    }
  }

  tbody {
    text-align: left;

    tr {
      th {
        padding: .5em .75em;
        text-align: right;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: .875em;
      }

      td {
        padding: .5em .75em;
      }
    }
  }

  tfoot {
    text-align: left;

    tr {
      th {
        padding: .5em .75em;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: .875em;
      }

      td {
        padding: .5em .75em;
      }
    }
  }
}


// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {}
