{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*/
#}

{{ attach_library('saltproject_places/react-saltproject') }}

<div id="selected-city"></div>
